{
    "title": "Halloween Hunt: Word Puzzle Adventures",
    "subtitle": "A Holiday Puzzle Book",
    "author": "Mike Gold",
    "isbn": "979-8-89238-174-1",
    "year": 2023,
    "publisher": "Green Belt Books LLC",
    "numberOfPuzzles": 2,
    "tempFilePath": "c:\\temp\\puzzlebook3\\",
    "dummyImageUrl": "https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png",
    "outputFilePath": "c:\\temp\\final_book\\output\\halloween_puzzles.pdf",
    "pathToTopics": "C:\\temp\\final_book\\costumelist\\topics.txt"
}

