{
    "title": "Christmas Word Hunt",
    "subtitle": "A Holiday Puzzle Book",
    "author": "",
    "isbn": "979-8-89238-174-1",
    "year": 2023,
    "publisher": "Green Belt Books LLC",
    "numberOfPuzzles": 128,
    "tempFilePath": "c:\\temp\\final-christmas-book\\",
    "dummyImageUrl": "https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png",
    "outputFilePath": "c:\\temp\\final-christmas-book\\output\\christmas_puzzles.pdf",
    "pathToTopics": "c:\\temp\\final-christmas-book\\topics\\topics.txt",
    "coverImagePath": "C:\\temp\\final-christmas-book\\cover.png",
    "puzzleCluesPrompt": "You are celebrating {theme}, give me a comma delimited list of 30 words related to {topic} for a word search puzzle. Give me the most relevant words first. None of the words in the list should repeat. Do not use any trademark names. Avoid using the word {theme} in the list. Remember the words are comma delimited\n",
    "funFilledFactPrompt": "Come up with one fun filled fact about {topic}. Correct for grammar, spelling, and pluralization",
    "preferredTheme": "Christmas"
}



