{
    "title": "Christmas Word Hunt",
    "subtitle": "A Holiday Puzzle Book",
    "author": "Mike Gold",
    "isbn": "979-8-89238-174-1",
    "year": 2023,
    "publisher": "Green Belt Books LLC",
    "numberOfPuzzles": 2,
    "tempFilePath": "c:\\temp\\puzzlebook5\\",
    "dummyImageUrl": "https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png",
    "outputFilePath": "c:\\temp\\puzzlebook5\\halloween_puzzles.pdf",
    "pathToTopics": "c:\\temp\\puzzlebook5\\topics.txt",
    "coverImagePath": "C:\\temp\\puzzlebook5\\cover.png",
    "puzzleCluesPrompt": "Create a comma delimited list of 40 words having to do with the theme {topic}. None of the words in the list should repeat. Do not use any trademark names.\n",
    "funFilledFactPrompt": "Come up with one fun filled fact about {topic}.\n",
    "preferredTheme": "Christmas"
}

