<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Generator</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <h2>Input 3 Ingredients</h2>
    <form action="/generate_recipe" method="post">
      <input
        type="text"
        name="ingredient"
        placeholder="Ingredient 1"
        required
      />
      <input
        type="text"
        name="ingredient"
        placeholder="Ingredient 2"
        required
      />
      <input
        type="text"
        name="ingredient"
        placeholder="Ingredient 3"
        required
      />

      <label class="subheading" for="cuisine">Choose a cuisine:</label>
      <select name="cuisine" id="cuisine">
        {% for cuisine in cuisines %}
        <option value="{{ cuisine|lower|replace(' ', '_') }}">
          {{ cuisine }}
        </option>
        {% endfor %}
      </select>

      <label class="subheading" for="restrictions">Dietary Restrictions:</label>
      <div class="checkbox-container">
        {% for restriction in dietary_restrictions %}
        <div class="checkbox-group" name="restrictions">
          <label class="checkbox-label">
            <input
              type="checkbox"
              name="restrictions"
              value="{{ restriction|lower|replace(' ', '_') }}"
            />
            {{ restriction }}
          </label>
        </div>
        {% endfor %}
      </div>

      <input type="submit" value="Generate Recipe" />
    </form>
  </body>
</html>
